@font-face {
    font-family: 'Trueno';
    src: url('./fonts/truenoround.otf') format('opentype');
}

* {
    font-family: 'Trueno', sans-serif;
}

:root {
    --primary-color: #cffffa;
    --secondary-color: #2e8fe3;
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
      transition: box-shadow 0.3s ease; 
      background-color: var(--primary-color);
}

.navbar-shadow{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar img {
    max-width: 100px;
    height: auto;
}

.navbar-nav .nav-link.active {
    color: var(--secondary-color);
}


.header-img {
    width: 80%;
}

.main {
    margin-top: 80px;
}

.main .content-home {
    margin-top: 140px;
}

.main .content-about {
    color: var(--secondary-color);
    width: 70%;
}

.main .content-about h2 {
    font-weight: 800;
}

.main .content-information {
    color: var(--secondary-color);
    
}

.main .content-information h3 {
    font-weight: 800;
}


.main .content-information .content-information-detail {
    max-width: 70%;
    letter-spacing: 0.5px;
}

.main .content-information .content-information-detail img{
    margin-top: 20px;
}

.maps-tenant {
    width: 100%;
}

.rundown-festival {
    width: 100%;
}

.img-container{
    margin: 60px 0;
}


.footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.footer img {
    min-width: 100px;
    max-width: 200px;
    height: auto;
}

.footer a {
    text-decoration: none;
    color: var(--primary-color);
}

.footer a:hover {
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .main .content-information h3 {
        font-size: 1.5em;
        line-height: 0.8;
    }
}

@media screen and (max-width: 768px) {
    .main .content-information h3 {
        font-size: 1.3em;
    }

    .main .content-home {
        margin-top: 160px;
    }

    .header-img {
        width: 90%;
    }

    .main .content-about{
        width: 90%;
    }

    .main .content-information .content-information-detail{
        max-width: 90%;
        width: 90%;
    }

    
    .maps-tenant {
        width: 100%;
    }

    .rundown-festival {
        width: 100%;
    }

}

@media screen and (max-width: 575px) {

    .main .content-information .content-information-detail {
        max-width: 90%;
        width: 90%;
    }

    .main .content-information .title {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .main .content-information h3 {
        font-size: 1.2em;
    }
/* 
    .main .content-about p {
        font-size: 1em;
    } */

    .footer {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    
    .footer img {
        min-width: 50px;
        max-width: 100px;
        height: auto;
    }

}

@media screen and (max-width: 475px) {
    .main .content-information h3 {
        font-size: 1em;
    }
}

@media screen and (max-width: 375px) {
    .main .content-information h3 {
        font-size: 0.9em;
    }
}