@font-face {
    font-family: 'Acumin Variable Concept';
    src: url('./fonts/Acumin-Variable-Concept.ttf') format('truetype');
}

* {
    font-family: 'Acumin Variable Concept', sans-serif;
}

:root {
    --primary-color: #cffffa;
    --secondary-color: #2e8fe3;
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
      transition: box-shadow 0.3s ease; 
      background-color: var(--primary-color);
}

.navbar-shadow{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar img {
    max-width: 100px;
    height: auto;
}

.navbar-nav .nav-link.active {
    color: var(--secondary-color);
}


.header-img {
    width: 100%;
}

.main {
    margin-top: 100px;
}

.main .content-home {
    margin-top: 140px;
}

.main .content-about {
    color: var(--secondary-color);
    
    min-height: 60vh;
}

.main .content-about h1 {
    font-weight: 800;
    letter-spacing: 3px;
}

.main .content-about p {
    font-size: 1.2em;
}

.main .content-information {
    color: var(--secondary-color);
    
}

.main .content-information h2 {
    font-size: 1.8em;
    font-weight: 710;
    line-height: 0.8;
}

.main .content-information .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main .content-information .content-information-detail {
    max-width: 70%;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 0.5px;
}

.main .content-information .content-information-detail img{
    margin-top: 20px;
    margin-bottom: 80px;
}

.maps-tenant {
    width: 80%;
}

.rundown-festival {
    width: 80%;
}


.footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.footer img {
    min-width: 100px;
    max-width: 200px;
    height: auto;
}

.footer a {
    text-decoration: none;
    color: var(--primary-color);
}

.footer a:hover {
    text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 992px) {
    /* .main .content-information h2 {
        font-size: 1.5em;
        font-weight: 700;
    } */
}

@media screen and (max-width: 768px) {
    /* .main .content-information h2 {
        font-size: 1em;
    } */

    .main .content-home {
        margin-top: 160px;
        margin-bottom: 60px;
    }

    .main .content-information .content-information-detail{
        max-width: 90%;
        width: 90%;
        text-align: center;
        margin-top: 60px;
        letter-spacing: 0px;
    }

    
    .maps-tenant {
        width: 100%;
    }

    .rundown-festival {
        width: 100%;
    }

}

@media screen and (max-width: 575px) {
    .main .content-about h1 {
        font-size: 2em;
    }

    .main .content-information .content-information-detail {
        max-width: 90%;
        width: 90%;
    }

    .main .content-information .title {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .main .content-information h2 {
        font-size: 1em;
    }

    .main .content-about p {
        font-size: 1em;
    }

    .footer {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    
    .footer img {
        min-width: 50px;
        max-width: 100px;
        height: auto;
    }

}

@media screen and (max-width: 475px) {
}

@media screen and (max-width: 375px) {
}